data/
.venv/
datasets/
updated-datasets/

# Ignore Python environment files
.rasterenv/
env/
venv/

# Ignore system files
node_modules/
.DS_Store
*.pyc
__pycache__/

# for verify script
node_modules/
out/
credentials.json
token.json
temp/
